# Directories
.obsidian/
.trash/
Assorted/
Blog/Drafts/
Books/
Career Guides/
Daily/
Guides/
Ideas/
Journals/
Rubbish/
Systems/

# Images
Assets/learning-*
Assets/Images/Header/
Assets/Images/books.*
Assets/Images/cover-letter-sample.*
Assets/Images/geo.*
Assets/Images/journals.*
Assets/Images/learning.*
Assets/Images/learning.*
Assets/Images/projects.*
Assets/Images/project.ideas.*

# Files
*.ini

# Ignore Smart Connections folder because embeddings file is large and updated frequently
.smart-connections
