# Directories
.obsidian/
.trash/
Career/
Daily/
Drafts/
Evergreen Test/
Ideas/
Journals/
Testing/
Rubbish/

# Assets
Assets/learning-*
Assets/private-*
Assets/Images/Header/
Assets/Images/books.*
Assets/Images/cover-letter-sample.*
Assets/Images/geo.*
Assets/Images/journals.*
Assets/Images/learning.*
Assets/Images/learning.*
Assets/Images/projects.*
Assets/Images/project.ideas.*
Assets/Templates/

# Files
*.ini
private-*

# Ignore Smart Connections folder because embeddings file is large and updated frequently
.smart-connections
