# Directories
.obsidian/
.trash/
Career/
Content/
Daily/
Journals/
Rubbish/

# Assets
Assets/Private/
Assets/Templates/

# Files
*.ini
private-*
.megaignore

# Ignore Smart Connections folder because embeddings file is large and updated frequently
.smart-connections
